* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #0f172a;
  color: white;
}

/* Signup box */
.sign-up {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 440px;
  height: auto;
  padding: 30px;
}

/* Header */
.sign-up-header {
  text-align: center;
  margin: 20px 0 40px 0;
  font-size: 30px;
  color: white;
  font-weight: 600;
}

/* Input fields */
.input-field {
  width: 100%;
  height: 60px;
  font-size: 17px;
  padding: 0 25px;
  margin-bottom: 15px;
  border-radius: 30px;
  border: none;
  box-shadow: 0px 5px 10px 1px rgba(0,0,0,0.05);
  outline: none;
  transition: 0.3s;
}

::placeholder {
  font-weight: 500;
  color: #222;
}

.input-field:focus {
  width: 105%;
}

/* Forgot section */
.forgot {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

section {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: white;
}

#check {
  margin-right: 10px;
}

/* Links */
a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

section a {
  color: white;
}

/* Submit button */
.input-submit {
  position: relative;
}

.submit-btn {
  width: 100%;
  height: 60px;
  background: #38bdf8;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-size: 17px;
  color: white;
  transition: 0.3s;
  font-weight: 600;
}

.submit-btn:hover {
  background: #0ea5e9;
}

/* Sign-up link */
.sign-up-link {
  text-align: center;
  font-size: 15px;
  margin-top: 20px;
  color: white;
  font-weight: 600;
}

.sign-up-link p {
  font-size: 17px;
}

.sign-up-link a {
  font-size: 17px;
  color: #38bdf8;
}
